html {overflow: -moz-scrollbars-none;}
body{
    padding: 0;
    margin: 0;
    display: flex;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.container-fluid {
    background: #fff;
    padding: 0;
    margin: 0;
    border-radius: 7px;
    height: 100vh;
  }
.Disc{
   width: 50vw;
   height: 100vh;
   background: #FAFAFF; 
}
.conversation{
    width: 50vw;
    height: 100vh;
    background: #F3F6FF;
    transition: 1s ease-in;
   
}
.chatlogs{
    height: 80vh;
    position: relative;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar{
    width: 1px;

}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #7350F2 ;
}
/* .self{
    position: relative;
    left: 35%;
} */
.Options{
    height: 10vh;
    width: 100%;
    /* background: #f3f6ff;
    display: flex;
    position: relative; */
 
}
.menu .contacting{
    position: relative;
    top: 10%;
}
/* .Options .contacting{
    position: absolute;
    right: 0;
    top: 10%;
} */
/* .chat{
    display: flex;
    flex-flow : row wrap;
    align-items: flex-start;
    margin-bottom: 5px;
    animation: fadeIn 1s ease-in;
} */

.discutes{
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.discutes::-webkit-scrollbar{
    width: 10px;
    opacity: 0.2;

}
.discutes::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0, 0, 0, .1) ;
    opacity: 0.2;
}
.disc {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 1px 0px 0px 0px;
    position: relative;
    min-height: 15%;
   transition: 0.5s ease;
   padding: 20px 15px;
   vertical-align: baseline;
}
.disc:hover{
    color: #74b9ff;
}
.disc .user-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
}
.disc .user-photo img {
    width: 100%;
    height: 100%;
}
.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    left: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.chat .user-photo img {
    width: 100%;
}
.chat .chat-message{
    width: 50%;
    padding: 15px;
    margin: 5px 10px 0;
    background: #7350F2;
    border-radius: 10px;
    color: #fff; 
    font-size: 15px;
    
}
.friend .chat-message{
    background: blueviolet;
    color: #fff;
}
/*
 .friend{
    position: relative;
    right: 0%;
} */
.self .chat-message{
    background: #FFFFFF;
    color: #7350F2;
  /*   order: -1; */
}
.chat-form{
   margin: 5px 30px 5px 30px;
   border-top:2px solid #7350F2;
   display: flex;
   padding:5px;
   align-items: flex-start;
}
.chat-form textarea {
    background: transparent;
    width: 80%;
    height: 100%;
    resize: none;
    border: 0;
    padding-top: 20px;
    font-size: 15px;
    color:#7350F2;
    margin-left: 10px;
}
textarea:focus{
   outline: none;
 
}
button{
    border: 0;
}
.menu{
    height: 15%;
    background: transparent;
    display: flex;
    border-bottom: 0.2px solid#7351F2;
    border-radius: 20%;
}
.friend .identifier{
    max-width: 70%;
    padding: 0;
 /*    margin: 0 10px 10px 20x; */
    margin-left: 15px;
    background: transparent;
    font-size: 15px; 
  /*   position: absolute;  */
   /*  left: 10%; */
   overflow-x: hidden;
}
.name {
    font-size: 18px;
    font-weight: bold;
    color: #7351F2;
    
}
.message{
    color: #000000b9;
}
a{
    text-decoration: none;
    color: #ec3bde;
    font-weight: bold;
}
.menubar{
   left: 0;
   top: 10%;
   position:absolute; 
   margin-right: 20px;
   margin-left: 20px;
}

  
.text{
    padding: 0;
    left: 20px;
    bottom: 1%;
    position:absolute;
    margin-top: 15px;
    font-weight: bold;
    display: flex;
    color: #ec3bde;
 }
 .txt{
    padding-top: 5px;
    padding-left: 5px;
 }
 .concern{
    color: #ec3bde;
   /*  position: absolute;
    left: 30%;
    top: 20px; */
    font-weight: bold;
    display: flex;
    font-size: 13px;
 }
 .imag {
    height:50px;
    width:100px;
    border-radius: 50%;
    display: flex;
    padding: 0;
    margin: 0;
 }
 .imag .avater{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 2px rgb(226, 70, 22) solid;
     padding: 2px;
     margin: 0;
     background: #fff;
 
    }
.imag .avater :after{
    content: "";
    padding-bottom: 100%;
    display: block;
}  
 .me_and{
    margin-right: 12px;
    margin-top: 15px;
 }

.menu img{
    filter: invert(34%) sepia(34%) saturate(6765%) hue-rotate(241deg) brightness(98%) contrast(94%); 
    width:40px;
    height:40px;
 }
 .text img{
     filter: invert(24%) sepia(60%) saturate(5582%) hue-rotate(302deg) brightness(88%) contrast(96%); 
     width:40px;
     height:40px;
 }
 .friend--onhover:hover {
    background: #7451f285;
    cursor: pointer;
  }
 .friend--grey{
     background: #FAFAFF;
 }
 .friend--onhover:hover p,
.friend--onhover:hover h6,
.friend--onhover:hover .time {
  color: #fff !important;
}
@media screen and (max-width : 1500px) {
    .conversation{
        display: block;
    }
    .Disc{
        display: block;
    }
}
 @media screen and (max-width : 750px ) {
   .conversation {
       display: none;
   }
    }

    @media screen and (max-width : 850px ) {
     .friend .identifier{
        font-size: 12px;
        position:relative;
        margin-top: 5px;
        max-width: 40%;
        max-height: 100px;
        overflow-x: hidden;
        scrollbar-width: none;
    }
    .friend .identifier::-webkit-scrollbar{
        width: 0;
    
    }
    .friend .identifier .name {
        font-size: 15px;
    }
    .friend .user-photo{
         height: 50px;
         width: 50px;
     }
     .friend .time{
         font-size: 12px;
         margin-left: 20px;
     }
 }